<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui center aligned stackable inverted equal height grid">
			<div class="four wide column">
				<h4 class="ui inverted header">Useful Links</h4>
				<div class="ui inverted link list">
					<a href="/work" class="item">Work Experience</a>
					<a href="/academics" class="item">Academic Projects</a>
					<a href="/files/Tom%20Fischer%20Resume.pdf" class="item">Resume</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">Accounts</h4>
				<div class="ui inverted link list">
					<a href="https://github.com/tgfischer" class="item">GitHub</a>
					<a href="http://stackoverflow.com/users/2455765/tfischer" class="item">Stack Overflow</a>
					<a href="http://ca.linkedin.com/pub/tom-fischer/46/799/381" class="item">LinkedIn</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">Contact Information</h4>
				<div class="ui inverted link list">
					<span class="item">Email: tgfischer6@gmail.com</span>
					<span class="item">Cell: 1 (519) 357-8741</span>
					<span class="item">Home: 1 (519) 392-6106</span>
				</div>
			</div>
			<div class="four wide right aligned column">
				<h4 class="ui inverted header">Address</h4>
				<addr>
					RR#2 1253 Concession 4<br>
					Teeswater, ON<br>
					N0G 2S0
				</addr>
			</div>
		</div>
	</div>
</div>